@layer canvas.base {
  *,
  ::after,
  ::before {
    border-color: hsl(var(--border));
  }

  body {
    font-family: var(--font-sans);
    color: hsl(var(--foreground));
    background-color: hsl(var(--background));
  }

  code, pre, kbd {
    font-family: var(--font-mono);
  }
}
